@import "./colors.module.scss";
@import "./mixins.scss";

.share {
  min-width: 100%;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  align-items: center;
  textarea {
    resize: none;
    height: 60px;
    width: 80%;
    margin: 10px 10px 10px 0;
    border-radius: 4px;
    font-size: 16px;
    font-family: Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans,
      Helvetica Neue, sans-serif;
  }
}

.postInput {
  border: none;
  border-bottom: 1px solid $borders;
  height: 100px;
  padding: 10px 15px;
}

.accentColor {
  color: $accent;
}
