@mixin scrollbar {
  // This is causing weird padding issues 
  overflow-y: scroll;
  &::-webkit-scrollbar {
    background-color: transparent;

    width:5px;
  }
  &::-webkit-scrollbar-thumb {
    border: 1px solid $borders;
    background: $accent;
    border-radius: 10px;
  }
}